@model List<project.Models.AccountBookList>

@{
    ViewBag.Title = "Account Book List";
}

<h1>帳本列表</h1>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center" style="width: 15%;">開啟</th>
            <th style="display:none;">User ID</th>
            <th>帳本編號</th>
            <th>帳本名稱</th>
            <th>帳本描述</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center" style="width: 15%;">
                    <a href="@Url.Action("Details", "AccountBook", new { id = item.AccountBookId })" class="btn btn-primary">
                        開啟
                    </a>
                </td>
                <td style="display:none;">@item.UserId</td>
                <td>@item.AccountBookId</td>
                <td>@item.AccountBookName</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>