@using System.Text.Encodings.Web
@model List<project.Models.TransactionList>

@{
    ViewBag.Title = "Account Book Data";
}

@if (TempData["DeleteSuccess"] != null)
{
    var message = JavaScriptEncoder.Default.Encode(TempData["DeleteSuccess"].ToString());
    <script type="text/javascript">
        alert('@message');
    </script>
}

<h1>帳本資料
</h1>
<hr />

<div class="mt-4">
    <a href="@Url.Action("AccountBookList", "AccountingSystem")" class="btn btn-secondary">
        返回帳本列表
    </a>
    <a href="@Url.Action("TransactionInsert", "AccountingSystem", new { accountBookId=ViewBag.AccountBookId })" class="btn btn-primary">
        新增
    </a>
    <a href="@Url.Action("TransactionInsert", "AccountingSystem", new { accountBookId=ViewBag.AccountBookId })" class="btn btn-primary">
        test
    </a>
</div><br>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center" style="width: 10%;">修改</th>
            <th class="text-center" style="width: 10%;">刪除</th>
            <th style="display:none;">交易編號</th>
            <th>日期</th>
            <th>類別</th>
            <th>描述</th>
            <th>金額</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center" style="width: 10%;">
                    <a href="@Url.Action("TransactionUpdate", "AccountingSystem", new { id = item.TransactionId })" class="btn btn-primary">
                        修改
                    </a>
                </td>
                <td class="text-center" style="width: 10%;">
                    <a href="@Url.Action("TransactionDelete", "AccountingSystem", new { transactionId = item.TransactionId, accountBookId = item.AccountBookId })"
                       class="btn btn-danger"
                       onclick="return confirm('確定要刪除嗎？');">
                        刪除
                    </a>
                </td>
                <td style="display:none;">@item.TransactionId</td>
                <td>@item.Date</td>
                <td>@item.Category</td>
                <td>@item.Description</td>
                <td>@($"{item.Currency} {item.Amount:N0}")</td>
            </tr>
        }
    </tbody>
</table>