@model BudgetViewModel

@{
    ViewBag.Title = "預算管理";
}

<h2>@Model.BudgetName 的預算管理</h2>

<p>
    @Html.ActionLink("返回賬簿", "AccountBookData", "AccountingSystem", new { id = Model.AccountBookID }, new { @class = "btn btn-secondary" })
    @Html.ActionLink("創建新預算", "Create", new { accountBookID = Model.AccountBookID }, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>預算名稱</th>
            <th>金額</th>
            <th>開始日期</th>
            <th>結束日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Budgets)
        {
            <tr>
                <td>@item.BudgetName</td>
                <td>@item.Amount</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>
                    @Html.ActionLink("詳情", "Details", new { budgetID = item.BudgetID, accountBookID = ViewBag.AccountBookId }) |
                    @Html.ActionLink("編輯", "Edit", new { budgetID = item.BudgetID,accountBookId = ViewBag.AccountBookId }) |
                    @Html.ActionLink("刪除", "Delete", new { budgetID = item.BudgetID })
                </td>
            </tr>
        }
    </tbody>
</table>
